<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{css/style.css}"/>
	</head>
	<body>
		<div >
	      <header th:fragment="header">
	        <h1>RPi IoT Home System</h1>
	      </header>     
		</div>
		<div>
	      <nav th:fragment="nav">     
		      <ul>
		        <li class="left"><a th:href="@{/home}">Home</a></li>
		        <li class="left"><a th:href="@{/weather}">Pogoda</a></li>
		        <li class="left"><a th:href="@{/settings}">Opcje</a></li>
		        <li class="left" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/sysinfo}">SysInfo</a></li>
		        <li class="left" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/sensorinfo}">Czujniki Informacja</a></li>
		        <li class="right"><a th:href="@{/logout}">Wyloguj</a></li>
		      </ul>
	      </nav>
		</div>
		<div >     
	      <footer th:fragment="footer"> 
	      	 <h4>&copy; 2017 Footer by Admin</h4>
	      </footer>
    </div>
	</body>
</html>