<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{css/style.css}"/>
		<title>RPI Home System</title>
	</head>
	<body>
      <header th:replace="fragments :: header">
      </header>
      <nav th:replace="fragments :: nav">     
      </nav>
      <section class="main">	
			<img class="logoHome" th:src="@{img/logo.png}" />		
      </section>     
       <footer th:replace="fragments :: footer">...</footer>
	</body>
</html>