<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{css/style.css}"/>
		<title>RPI Home System - Pogoda</title>
	</head>
	<body>
		<div>
		
      <header th:replace="fragments :: header">
      </header>
      <nav th:replace="fragments :: nav">     
      </nav>
      <section>
        <main> 
			Witam w Raspberry Pi Home System Web Control Panel			
        </main>
      </section>     
        	<footer th:replace="fragments :: footer">...</footer>
		</div>
	</body>
</html>