<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}"/>
  <title>RPi IoT Home System</title>
  </head>
  
  <body onload='document.f.username.focus();'>         
    <section class="loginPage">
      <h1 class="loginPage">RPi IoT Home System</h1>
      <h2 class="loginPage">Logowanie</h2>
      <p th:if="${loginError}" class="error">Złe hasło lub login!!!!</p>
      <p th:if="${userRegistered}" class="error">Zostales zarejestrowany. Teraz Administrator musi uaktywnic Twoje konto.</p>
      <form  class="loginPage" name='f' th:action='@{/login}' method='POST'>
        <label class="label">Login:</label><br />
        <input class="text" type='text' id='username' name='username' value=''/><br />
        <label class="label">Haslo:</label><br />
        <input class="text" type='password' id='password' name='password'/><br />
        <input class="submit" name="submit" type="submit" value="Zaloguj"/>
      </form>
      <a class="button" th:href="@{/registration}">Zarejestruj</a>
    </section>     
  </body>
</html>