<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}"/>
		<title>RPI Home System - Registration</title>
	</head>
	<body onload='document.f.username.focus();'>
		<div>
      <header>
        <h1 class="title">RPI Home System -  Web Control Panel</h1>
      </header>
      <nav>
      	<h1 class="title">Logowanie</h1>
      </nav>
      <section>   
      	<p th:if="${loginError}" class="error">Złe hasło lub login!!!!</p>  
      	<form name='f' th:action='@{/login}' method='POST'> 
        <label>Nick</label>:<br />
        <input type='text' id='username' name='username' value='' /><br />
        <label>Haslo</label>:<br />
        <input type='password' id='password' name='password'/><br />
        <input name="submit" type="submit" value="Zaloguj" class="login"/><br />
        <a th:href="@{/registration}">Zarejestruj</a>
			<!--<table>
				<tr><td>Użytkownik:</td></tr>
				<tr><td><input type='text' id='username' name='username' value='' /></td></tr>
				<tr><td>Password:</td></tr>
				<tr><td><input type='password' id='password' name='password'/></td></tr>
				<tr><td>
				<input name="submit" type="submit" value="Zaloguj" class="login"/></td></tr>
				<tr><td><a th:href="@{/registration}">Zarejestruj</a></td></tr>
			</table>  -->
		</form>
      </section>     
      <footer> 
      </footer>
    </div>
	</body>
</html>
