<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}"/>
		<title>RPi IoT Home System</title>
	</head>
	
	<body>
    	<section class="loginPage">
	      <h1 class="loginPage">RPi IoT Home System</h1>
	      <h2 class="loginPage">Rejestacja</h2>    
	      <p th:if="${userExisted}" class="error">Podany użytkownik już istnieje.</p> 
	      <p th:if="${userEmailError}" class="error">Wprowadz poprawy adres email.</p>
	      <p th:if="${userRegisteredError}" class="error">Nie zostały uzupełnione wszystkie wymagane pola: Login i Hasło.</p>
	      <form th:action="@{/registration}" method="POST" th:object="${user}" class="loginPage"> 
	        <label class="label">Login</label>:<br /> 
	        <input class="text" type="text" th:field="*{username}"/><br />
	        <label class="label">E-mail</label>:<br />
	        <input class="text" th:field="*{email}" /><br />
	        <label class="label">Haslo</label> <br />  
	        <input class="text" type="password" th:field="*{password}" /> <br />
	        <input type="submit" value="Zarejestruj" class="submit"/> <br />
	      </form> 
	    </section> 
	</body>
</html>