<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{css/style.css}"/>
		<title>RPI Home System - Opcje</title>
	</head>
	<body>
		<div>
		
      <header th:replace="fragments :: header">
      </header>
      <nav th:replace="fragments :: nav">     
      </nav>
      <section>
        <main>
	      <fieldset>
	      <legend>Zmiana hasła</legend>   
	          <p th:if="${passError}" class="error">Bład podczas wprowadzania haseł. Ponów próbę.</p>  
	          <p th:if="${confirmPassChange}" class="error">Hasło zostało zmienione.</p>
	          <form th:action="@{/settingsPass}" method="POST" th:object="${user}"> 
	            <label>Hasło</label>:<br /> 
	            <input type="password" th:field="*{oldPass}" /> <br />
	            <label>Nowe hasło</label>:<br />
	            <input type="password" th:field="*{newPass1}" /> <br />
	            <label>Powtórz nowe hasło</label>: <br />  
	            <input type="password" th:field="*{newPass2}" /> <br />
	            <input type="submit" value="Zmień hasło" class="login"/> <br /> 
	          </form> 	
          </fieldset>
	      <fieldset>
	      <legend>Zmiana e-mail</legend>  
	          <p th:if="${confirmEmailChange}" class="error">Adres e-mail został zmieniony.</p>   
	          <form th:action="@{/settingsEmail}" method="POST" th:object="${user}"> 
	            <label>Podaj nowy adres e-mail</label>:<br /> 
	            <input type="text" th:field="*{email}" /> <br />
	            <input type="submit" value="Zmień e-mail" class="login"/> <br />
	          </form> 		
	      </fieldset>
	      
	      <p sec:authorize="hasRole('ROLE_ADMIN')"> 
	      <hr />	     
	      <fieldset> 
	      	<legend>Lista użytkowników</legend>	  
	      	<p th:if="${confirmUsersChange}" class="error" th:text="${confirmUsrChMsg}"></p>    
		      <form th:action="@{/settingsUsers}" method="POST" th:object="${userDatas}">
		      	<table class="usersTable"> 
		 			<tr>
		 				<th class="usersTable_th">ID</th>
		  				<th class="usersTable_th">Nick</th>
		  				<th class="usersTable_th">e-mail</th>
		  				<th class="usersTable_th">Rola</th>
		  				<th class="usersTable_th">Aktywny</th>
		  				<th class="usersTable_th">Usuń</th>
		  			</tr>
					<tr th:each="u, i : ${userDatas.users}">
						<td th:text="${u.id}"></td>
						<td th:text="${u.username}"></td>
						<td th:text="${u.email}"></td>
				    	<td>
				    		<select th:field="*{users[__${i.index}__].role}">
				    			<option th:each="r : ${userDatas.roles}"
				    					th:value="${r}"
				    					th:text="${r}">
				    			</option>
				    		</select>
				    	</td>	
				    	<td><input type="checkbox" th:field="*{users[__${i.index}__].enabled}" th:checked="${u.enabled}"/></td>
				    	<td><input th:if="${u.enabled} == false" type="checkbox" th:field="*{users[__${i.index}__].toRemove}"/></td>
				    </tr>
		      	</table>
		      	<input type="submit" value="Zarejestruj" class="login"/> <br />
		      </form>
	      </fieldset>
	      </p>
		</main>				
      </section>     
        	<footer th:replace="fragments :: footer">...</footer>
		</div>
	</body>
</html>