<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{css/style.css}"/>
		<title>RPI Home System</title>
	</head>
	<body>
      <header th:replace="fragments :: header">
      </header>
      <nav th:replace="fragments :: nav">     
      </nav>
      <section>
      	<div class="sysInErrors" sec:authorize="hasRole('ROLE_ADMIN')">
      		<h3>Błędy systemu:</h3>
      		<div>
      		<table class="errorList">
      			<tr>
      				<th>Data</th>
      				<th>Level</th>
      				<th>Message</th>
      				<th>Exception</th>
      			</tr>
      			<tr th:each="error : ${errorsList}">
      				<td class="date" th:text="${error.date}"></td>
      				<td class="lvl" th:text="${error.level}"></td>
      				<td class="msg" th:text="${error.message}"></td>
      				<td th:text="${error.exception}"></td>
      			</tr>
      		</table>
      		</div>
      	</div>			
      </section>     
       <footer th:replace="fragments :: footer">...</footer>
	</body>
</html>