<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{css/style.css}"/>
		<title>RPI Home System - Pogoda</title>
	</head>
	<body>
      <header>
        <h1 class="title">RPI Home System -  Web Control Panel</h1>
      </header>     
      <nav th:replace="fragments :: nav">     
      </nav>
	    <section class="main">
	      <p th:if="${inSensor.statusCode}!=200" class="error" th:text="'Dane \'wewnątrz\' mieszkania nie są aktualne. Error Code: ' + ${inSensor.statusCode}"/>
	      <p th:if="${outSensor.statusCode}!=200" class="error" th:text="'Dane \'na zewnątrz\' nie są aktualne. Error Code: ' + ${outSensor.statusCode}"/>
	      <div class="weather">
	        <div class="inWeather">
	          <h3>Wewnątrz</h3>
	          <p class="temp" th:text="${inSensor.temperature} +'&deg;C'"></p>
	          <p class="hum" th:text="${inSensor.humidity} + '%'"></p>
	          <p class="actT" th:text="'Akt.: ' + ${inSensor.date}"></p>
	        </div>
	        <div class="outWeather">
	          <h3>Na zewnątrz</h3>
	            <p class="temp" th:text="${outSensor.temperature} +'&deg;C'"></p>
	            <p class="hum" th:text="${outSensor.humidity} + '%'"></p>
	            <p class="actT" th:text="'Akt.: ' + ${outSensor.date}"></p>
	        </div>
	        <div class="press">
	          <h3>Ciśnienie</h3>
	          <p class="hum" th:text="${outSensor.pressure} + 'hPa'"></p>
	          <p class="actT" th:text="'Akt.: ' + ${outSensor.date}"></p>
	        </div>
	      </div>
	      <div class="weather">
	        <div>
	          <h3>Zanieczyszczenie powietrza</h3>
			  <table class="airpolution">
			  	<tr>
			  		<th>PM1</th>
			  		<th>PM10</th>
			  		<th>PM25</th>
			  		<th>CAQI</th>
			  	</tr>
			  	<tr class="value">
			  		<td rowspan="2" th:text="${airPolution.pm1}"></td>
			  		<td th:text="${airPolution.pm10}"></td>
			  		<td th:text="${airPolution.pm25}"></td>
			  		<td rowspan="2" class="caqi" th:text="${airPolution.caqi}" th:style="'color:' + ${airPolution.caqiColor}"></td>
			  	</tr>
			  	<tr class="percent">
			  		<td th:text="${airPolution.pm10percent} + '%'"></td>
			  		<td th:text="${airPolution.pm25percent} + '%'"></td>
			  	</tr>
			  </table>
	          <p class="actT" th:text="'Akt.: ' + ${airPolution.date}"></p>
	        </div>
	      </div>
	      
	    </section>   
		<footer th:replace="fragments :: footer">...</footer>
	</body>
</html>