<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{css/style.css}"/>
		<title>RPI Home System - Pogoda</title>
	</head>
	<body>
      <header>
        <h1 class="title">RPI Home System -  Web Control Panel</h1>
      </header>     
      <nav th:replace="fragments :: nav">     
      </nav>
	    <section class="main">
	      <p th:if="${inSensor.statusCode}!=200" class="error" th:text="'Poniższe dane dla czujnika wewnątrz mieszkania nie są aktualne.'"/>
	      <p th:if="${inSensor.statusCode}!=200" class="error" th:text="'Ostatni poprawny pomiar: ' + ${inSensor.date} + '.  Kod błędu: ' + ${inSensor.statusCode}"/>
	      <div class="weather">
	        <div class="inWeather">
	          <h3>Wewnątrz</h3>
	          <p class="temp" th:text="${inSensor.temperature} +'&deg;C'"></p>
	          <p class="hum" th:text="${inSensor.pressure} + 'hPa'"></p>
	        </div>
	        <div class="outWeather">
	          <h3>Na zewnątrz</h3>
	            <p class="temp" th:text="${inSensor.temperature} +'&deg;C'"></p>
	            <p class="hum" th:text="${inSensor.pressure} + 'hPa'"></p>
	        </div>
	        <div class="press">
	          <h3>Ciśnienie</h3>
	          <p class="hum" th:text="${inSensor.humidity} + '%'"></p>
	        </div>
	      </div>
	    </section>   
		<footer th:replace="fragments :: footer">...</footer>
	</body>
</html>